@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body,
#root {
  background-color: #0a0c10 !important;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
  font-family: "Inter", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "Arial", sans-serif !important;
}

body {
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

code {
  font-family: "Roboto Mono", "Consolas", "Courier New", Courier, monospace;
  transform: translateY(-0.75px);
  display: block;
}

@property --scrollbar-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 2px;
}

@media (pointer: fine) {
  * {
    scrollbar-color: inherit transparent;
    scrollbar-width: var(--scrollbar-size);
    transition: --scrollbar-size 300ms linear;
  }
  *::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: 14px;
    background-color: transparent;
  }
  .MuiPaper-root:hover {
    --scrollbar-size: 10px;
  }
  *::-webkit-scrollbar-track {
    background: inherit;
  }
  *::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, currentColor 20%, transparent);
    opacity: 0.5;
    height: 14px;
    min-height: 64px;
    width: var(--scrollbar-size);
    padding: 2px;
    border: 2px solid transparent;
    border-left: 6px solid transparent;
    background-clip: padding-box;
  }
  *::-webkit-scrollbar-thumb:hover {
    border-left: 0px solid transparent;
    background-color: color-mix(in srgb, currentColor 25%, transparent);
  }
  *::-webkit-scrollbar-thumb:active {
    border-left: 0px solid transparent;
    background-color: color-mix(in srgb, currentColor 30%, transparent);
  }
}
