@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@400;500;600;700&display=swap");

html,
body,
#root {
  background-color: #1c2128;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: "Inter", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

code {
  font-family: "Roboto Mono", "Consolas", "Courier New", Courier, monospace;
  transform: translateY(-10px);
}

@media (pointer: fine) {
  * {
    scrollbar-color: #888888 #f0f0f0;
    scrollbar-width: 14px;
  }
  *::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: #f0f0f0;
  }
  *::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  *::-webkit-scrollbar-thumb {
    background: #888888;
    height: 14px;
    min-height: 64px;
    min-width: 64px;
  }
}

#pathfinder {
  position: "fixed";
  top: 100vh;
}
