#legend {
  display: inline-flex;
  flex-wrap: wrap;
  width: 200px;
  justify-content: space-between;
  align-content: space-between;
  height: 56px;
  vertical-align: top;
  .legend-item {
    display: flex;
    min-width: 100px;
    .color-box {
      width: 10px;
      height: 10px;
      // border: 1px solid black;
    }
    .color-title {
      font-size: 12px;
      font-weight: bold;
      line-height: 12px;
      padding-left: 4px;
    }
  }
}
