#logger-overlay {
  height: calc(100% - 20px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 0.85;
  color: #fff;
}

#logger-overlay-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  .parent-node-text {
    height: 100px;
    .parent-node-head {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .current-node-text {
    height: 100px;
    .current-node-head {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}