#time-travel{
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
#travel-event-forward,#travel-event-backward,#travel-expansion-forward,#travel-expansion-backward{
  height: 35px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: bottom;
}
#travel-event-input,#travel-expansion-input{
  height: 24px;
  vertical-align: middle;
  width: 50px;
}
