#camera-controls {
  vertical-align: top;
  .desktop-icon{
    width: 18px;
    position: relative;
    left: -2px;
    top: 2px;
  }
  .terminal-icon{
    position: absolute;
    top: 5px;
    left: 9px;
    width: 9px;
  }
  .map-icon{
    position: absolute;
    top: 5px;
    left: 9px;
    width: 9px;
  }
  .arrows-alt-icon{
    position: absolute;
    top: 5px;
    left: 9px;
    width: 9px;
  }
}
