#context-menu {
  display: none;
  position: fixed;
  z-index: 2;
  // border:1px solid #B2B2B2;
  width: 150px;
  background: #f9f9f9;
  box-shadow: 3px 3px 2px #e9e9e9;
  border-radius: 4px;
}
#node-details {
  list-style: none;
  margin: 0px;
  margin-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  font-size: 17px;
  color: #333333;
  > hr {
    width: 85%;
    background-color: #e4e4e4;
    border-color: #e4e4e4;
    color: #e4e4e4;
  }
  > li {
    padding: 3px;
    padding-left: 10px;
    word-break: break-all;
    cursor: default;
    &:hover {
      color: white;
      background: #284570;
      border-radius: 2px;
    }
  }
}
